{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    Accueil
{% endblock %}

{% block content %}
    <style>
        .produit {
            width: 200px; /* Largeur de chaque carré produit */
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }
    </style>

    <br>
    <div>
        {% for produit in produits %}
            <div class="produit">
                <form action="index.php?page=article" method="post">
                    <input type="hidden" id="id" name="produit" value="{{produit.id}}">
                    <input type="submit" value="Voir Plus" class="btn btn-primary m-2">
                </form>
                <h3>{{ produit.name }}</h3>
                <p>Prix :
                    {{ produit.price }}
                    €</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
